<span class="pure-menu-heading">Menu</span>

    <ul class="pure-menu-list">

        <!-- START: Home link -->
        <li class="pure-menu-item">
            <a href="#home" class="pure-menu-link">Home</a>
        </li>
        <!-- #END: Home link -->                      

        <!-- START: Login link -->
        <li class="pure-menu-item">
            <a href="#account" class="pure-menu-link">Account</a>
        </li>
        <!-- #END: Login link -->

        <!-- START: Login link -->
        <li class="pure-menu-item">
            <a href="#logout" class="pure-menu-link">Logout</a>
        </li>
        <!-- #END: Login link -->

    </ul>