<div id="top-nav" class="pure-menu pure-menu-horizontal"><!-- START: Body top nav -->
    <ul class="pure-menu-list">

        <!-- START: Clients link -->
        <li class="pure-menu-item">
            <a href="#clients" class="pure-menu-link">Clients</a>
        </li>
        <!-- #END: Clients link -->  

        <!-- START: Audits link -->
        <li class="pure-menu-list">
            <a href="#clients" class="pure-menu-link">Audits</a>
        </li>
        <!-- #END: Audits link -->  

    </ul>
</div><!-- #END: Body top nav -->